<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Where's Waldo App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid text-center">
        <div class="navbar-brand mx-auto display-2" href="#"><%= yield(:nav_heading) %></div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
