<% provide(:title, @puzzle.title) %>
<% provide(:nav_heading, @puzzle.title + " Puzzle") %>
<div class="container">
  <h5 class="display-4">Try to find these four characters!</h5>
  <div class="characters">
    <%= image_tag("waldo", class: "character") %>
    <%= image_tag("odlaw", class: "character") %>
    <%= image_tag("wenda", class: "character") %>
    <%= image_tag("wizard_whitebeard", class: "character") %>
  </div>
  <%= image_tag(@puzzle.image, id: "game") %>
  <div id="mini-menu">
    <ul class="options">
      <li class="option">Wally</li>
      <li class="option">Odlaw</li>
      <li class="option">Wenda</li>
      <li class="option">Wizard Whitebeard</li>
    </ul>
  </div>
</div>