<% provide(:title, @puzzle.title) %>
<% provide(:nav_heading, @puzzle.title + " Puzzle") %>
<div class="container">
  <h5 class="display-4">Try to find these characters!</h5>
  <div class="characters">
    <%= image_tag("waldo", class: "character", id: "waldo") %>
    <%= image_tag("odlaw", class: "character", id: "odlaw") %>
    <%= image_tag("wenda", class: "character", id: "wenda") %>
    <%= image_tag("wizard_whitebeard", class: "character", id: "wizard_whitebeard") %>
  </div>
  <div id="message"></div>
  <div id="game-container" data-id="<%= @puzzle.id %>">
    <%= image_tag(@puzzle.image, id: "game") %>
    <div id="mini-menu">
      <ul class="options">
        <li class="option">Waldo</li>
        <li class="option">Odlaw</li>
        <li class="option">Wenda</li>
        <li class="option">Wizard Whitebeard</li>
      </ul>
    </div>
  </div>
  <div id="high-scores">
    <h1>High scores</h1>
    <%= render @scores %>
  </div>
</div>